div.blue-stripe {
	background-color: #CAE9FF;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #E7F8FC), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #E7F8FC),color-stop(.75, #E7F8FC), color-stop(.75, transparent),to(transparent));
	-webkit-background-size: 7px 7px;
}
div.blue-stripe span {
	color: navy;
}
div#body {
	text-align: center;
	margin: auto 10px;
}
div#contents {
	max-width: 960px;
	text-align: left;
	margin: 30px auto;
}

div.siimple-card {
	cursor: pointer;
}

div.siimple-card:hover {
	transition: all 0.5s;
	color: white;
	background-color: lightblue;
}